:root {
    /*### Primary*/

--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);

/*### Neutral*/

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}

html {
    font-size: 16px;
}

body {
    color: var(--Light-Gray);
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: var(--Light-Gray);
}

.container {
    margin-top: 3rem;
    display: grid;
    background-color: white;
    border-radius: 5px;
}

/* header-background */
.header {
    padding: 2rem;
    margin-left: 1rem;
    grid-column-start: 1;
    grid-row-end: 1; 
    grid-row-start: 1;
    grid-row-end: 2;
}

h1 {
    color: var(--Cyan);
    font-size: 1.5rem;
}

.header-subtitle {
    color: var(--Bright-Yellow);
    font-size: 1.2rem; 
}

.Subscription-one {
    color: var(--Grayish-Blue);
    line-height: 1.5rem;
    font-size: 1rem;
}

/* ##background-two */
.subscription-prices {
    padding: 1.5rem;
    background-color: var(--Cyan);
    margin-right: 50%;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom-left-radius: 5px;
}

.title-subscription {
    font-size: 1.2rem;
}

.price {
    margin: 0;
    font-size: 2rem;
}
.per-month {
    color: var(--Light-Gray);
    font-size: 0.9rem;
    text-align: center;
}

.button {
    color: white;
    font-size: 1rem;
    width: 15rem;
    cursor: pointer;
    background-color: var(--Bright-Yellow);
    padding: 1rem;
    border: 1px solid var(--Bright-Yellow);
    border-radius: 5px;
    transition: 1s ease opacity;
}

.button:hover {
    opacity: 0.5;
}

/* ##background-three */
.why-us {
    padding: 1.5rem;
    background-color: #4ABEBD;
    margin-left: 50%;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom-right-radius: 5px;
}

.title-why {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.text-why {
    font-size: 0.5;
}